.forum-para{
    color: gray;
}
p{
    color: gray !important;
}
h4{
    color:gray !important;
}
h5{
    color:gray !important;
}
h6{
    color:gray !important;
}
h3{
    color:gray !important;
}
h2{
    color:gray !important;
}
h1{
    color:gray !important;
}

a{
    color:gray !important;
}